{% macro user_menu(links) %}

<div class="app-menu dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Actions
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
	{% if links %}
	{% for link in links %}
    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{link.url}}">{{link.name}}</a></li>
	{% endfor %}
    <li role="presentation" class="divider"></li>
	{% endif %}
    <li role="presentation">
		<a role="menuitem" tabindex="-1" href="{{url_for('user_logout')}}">Logout</a>
	</li>
  </ul>
</div>
{% endmacro %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block pagetitle %}{% endblock %}</title>
	<script>
		SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link href="{{url_for('static', filename='vendor/css/bootstrap.min.css')}}" rel="stylesheet">
    <script>
        {% block jsdata %}{% endblock %}
    </script>
    <script src="{{url_for('static', filename='vendor/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/js/knockout.js')}}"></script>
	{% block headscripts %}{% endblock %}
</head>
<body {% block bodyattrs %}{% endblock %}>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
			<div class="alert">{{msg}}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% block headermenu%}{{user_menu()}}{% endblock %}
	{% block bodycontent %}{% endblock %}
</body>
</html>
