{% extends "layout.html" %}
{% macro show_books(bookdir) %}
<ul>
	{% for d in bookdir.children %}
		<li class="item-dir closed">
			<a class="dir-name" href="#">{{bookdir.children[d].name}}</a>
			{{show_books(bookdir.children[d])}}
		</li>
	{% endfor %}
	{% for b in bookdir.books %}
		<li class="item-book">
			<a href="{{url_for('show_book', book=b.disp_relpath())}}">{{b.name}}</a>
		</li>
	{% endfor %}
</ul>
{% endmacro %}
{%block pagetitle %}
Available Comic Books
{% endblock %}
{% block headscripts %}
	<script>
		$(document).ready(function() {
			$('.book-listing .item-dir .dir-name').on('click', function(e) {
				$(this).parent().toggleClass('closed');
			});
		});
	</script>
{% endblock %}
{% block bodycontent %}
	{{user_menu()}}
	<h2>Available Books</h2>
	<div class="book-listing">
		{{show_books(books)}}
	</div>
{% endblock %}