{% extends "layout.html" %}
{% macro option(label, val)%}
<option value="{{val}}" {% if metadata.fit_mode == val%}selected="selected"{% endif%}>{{label}}</option>
{% endmacro %}
{% macro nav_menu() %}
<div class="nav-links">
	<div class="nav-control">
		<a href="" class="prev-link">&#8656;<span data-bind="text: rightToLeft() ? 'Next' : 'Prev'">Prev</span></a>
		<select class="curr-page" data-bind="options: allPageNumbers(),
											 value: pageNumber()">
		</select> of <span class="total-pages" data-bind="text: pageCount()"></span>
		<a href="" class="next-link"><span data-bind="text: rightToLeft() ? 'Prev' : 'Next'">Next</span>&#8658;</a>
		<span class="separator">|</span>
		<select name="fitmode" class="img-size" data-bind="value: fitMode">
			{{option('Full Size', 'full')}}
			{{option('Fit Height', 'height')}}
			{{option('Fit Width', 'width')}}
		</select>
		<label title="Right-to-left reading">
			<input name="rtol" type="checkbox" {{'checked' if metadata.right_to_left else ''}} value="1" data-bind="checked: rightToLeft">
			L &#8592; R
		</label>
		<label title="Display two pages at a time">
			<input name="dualpage" type="checkbox" {{'checked' if metadata.dual_page else ''}} value="1" data-bind="checked: dualPage">
			2-Page
		</label>
	</div>
</div>
{% endmacro %}

{% block pagetitle %}{{book.name}}{% endblock %}

{% block headscripts %}
	<script src="{{url_for('static', filename='js/jquery.touchSwipe.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/comicview.js')}}"></script>
{% endblock %}

{% block headermenu %}{% endblock %}

{% block bodyattrs %}class="book-page"{% endblock %}

{% block bodycontent %}
	<noscript>
		This page won't work with JavaScript disabled.
	</noscript>
	<div class="header">
		<a href="#" class="menu-link" data-bind="click: toggleMetadata">&#9776;</a>
		{{nav_menu()}}
	</div>
	<div class="metadata" data-bind="css: {shown: metadataVisible}">
		<a href="#" class="close-button" data-bind="click: toggleMetadata">&times;</a>
		<h3 class="book-name">{{book.name}}</h3>
		<p>File: <span class="book-filepath">{{book.rel_path}}</span></p>
		<p>Last accessed: {{metadata.last_access_date()}}</p>
		<p>Last page read: <span class="book-last-page">{{metadata.last_page}}</span></p>
		<ul class="book-actions">
			<li><a href="{{url_for('download_book', book=book.rel_path)}}">Download book archive</a></li>
			<li><a href="{{url_for('show_book_list')}}">Back to book listing</a></li>
		</ul>
		<div class="pages">
			<h5 class="page-list-label">Pages:</h4>
			<ul class="page-list">
				{% for file in book.get_file_list() %}
				<li data-bind="css: { currentPage: pageNumber() == {{loop.index}} }">
					<a class="page-link" title="{{file}}" data-index="{{loop.index}}"
					   href="{{url_for('show_page', book=book.disp_relpath(), page=loop.index)}}">
						<img src="{{url_for('show_pagethumb', book=book.disp_relpath(), page=loop.index)}}" alt=""/>
						<span>{{loop.index}}</span>
					</a>
				</li>
				{% endfor%}
			</ul>
		</div>
	</div>
	<div class="image-content" data-bind="css: { dualpage: dualPage(),
												 rToL: rightToLeft(),
												 fitWidth: fitMode() == 'width',
												 fitHeight: fitMode() == 'height',
												 fullSize: fitMode() == 'full' }">
		<div class="loading-overlay"></div>
		<!-- A second copy of the secondary image for right-to-left view. -->
		<img class="left secondary page-image" alt=""
			 data-bind="style: { maxHeight: getFitHeight() }"
			 src="{{url_for('show_page', book=book.disp_relpath(), page=metadata.last_page + 1)}}">
		<!-- Main image for singe-image view. -->
		<img class="main page-image" alt=""
			 data-bind="style: { maxHeight: getFitHeight() }"
			 src="{{url_for('show_page', book=book.disp_relpath(), page=metadata.last_page)}}">
		<!-- Second image for dual-page view. -->
		<img class="right secondary page-image" alt=""
			 data-bind="style: { maxHeight: getFitHeight() }"
			 src="{{url_for('show_page', book=book.disp_relpath(), page=metadata.last_page + 1)}}">
		<a href="#" class="big-link prev-link">
			<span class="top">&lsaquo;</span><span class="bottom">&lsaquo;</span>
		</a>
		<a href="#" class="big-link next-link">
			<span class="top">&rsaquo;</span><span class="bottom">&rsaquo;</span>
		</a>
	</div>
	<div class="dynamic-alert alert-error alert">
		<span class="alert-text"></span>
	</div>
{% endblock %}
