{% extends "layout.html" %}
{% block pagetitle %}
Create New User
{% endblock %}
{% block bodycontent %}
	{% with message = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
			<div class="alert">{{msg}}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<form method="post" action="{{url_for('user_create')}}">
		<label>
			<span>E-mail:</span>
			<input type="text" name="email" value="{{email}}"/>
		</label>
		<label>
			<span>Password:</span>
			<input type="password" name="password"/>
		</label>
		<label>
			<span>Confirm password:</span>
			<input type="password" name="confirm_password"/>
		</label>
		<input type="submit" value="Create User"/>
	</form>
{% endblock %}